In [1]:
import numpy as np
import pandas as pd
import matplotlib.pylab as plt

In [6]:
df = pd.read_csv("onlinefoods.csv")

df.head(3)

,Age,Gender,Marital Status,Occupation,Monthly Income,Educational Qualifications,Family size,latitude,longitude,Pin code,Output,Feedback,Unnamed: 12
0,20,Female,Single,Student,No Income,Post Graduate,4,12.9766,77.5993,560001,Yes,Positive,Yes
1,24,Female,Single,Student,Below Rs.10000,Graduate,3,12.9770,77.5773,560009,Yes,Positive,Yes
2,22,Male,Single,Student,Below Rs.10000,Post Graduate,3,12.9551,77.6593,560017,Yes,Negative,Yes

In [41]:
from sklearn.preprocessing import OneHotEncoder

X = df.drop(columns=["Output", "Age", "Family size", "latitude", "longitude", "Pin code"])
X = pd.DataFrame(OneHotEncoder(sparse_output=False).fit_transform(X).astype(int))
X = pd.concat([df.filter(items=["Age", "Family size", "latitude", "longitude", "Pin code"]), X], axis=1)
y = df["Output"] == "Yes"
X

,Age,Family size,latitude,longitude,Pin code,0,1,2,3,4,...,13,14,15,16,17,18,19,20,21,22
0,20,4,12.9766,77.5993,560001,1,0,0,0,1,...,1,0,0,1,0,0,0,1,0,1
1,24,3,12.9770,77.5773,560009,1,0,0,0,1,...,0,1,0,0,0,0,0,1,0,1
2,22,3,12.9551,77.6593,560017,0,1,0,0,1,...,0,0,0,1,0,0,1,0,0,1
3,22,6,12.9473,77.5616,560019,1,0,0,0,1,...,1,1,0,0,0,0,0,1,0,1
4,22,4,12.9850,77.5533,560010,0,1,0,0,1,...,0,0,0,1,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
383,23,2,12.9766,77.5993,560001,1,0,0,0,1,...,1,0,0,1,0,0,0,1,0,1
384,23,4,12.9854,77.7081,560048,1,0,0,0,1,...,1,0,0,1,0,0,0,1,0,1
385,22,5,12.9850,77.5533,560010,1,0,0,0,1,...,1,0,0,1,0,0,0,1,0,1
386,23,2,12.9770,77.5773,560009,0,1,0,0,1,...,0,0,0,1,0,0,0,1,0,1
387,23,5,12.8988,77.5764,560078,0,1,0,0,1,...,1,0,0,1,0,0,0,1,0,1

In [125]:
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score

X.columns = X.columns.astype(str)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.7)

model1 = SVC()
model1.fit(X_train, y_train)

model2 = DecisionTreeClassifier()
model2.fit(X_train, y_train)

model3 = KNeighborsClassifier()
model3.fit(X_train, y_train)

pred1 = model1.predict(X_test)
pred2 = model2.predict(X_test)
pred3 = model3.predict(X_test)

print(
    f"SVC accuracy: {round(accuracy_score(y_test, pred1) * 100, 2)}%, precision score: {round(precision_score(y_test, pred1) * 100, 2)}%, recall score: {round(recall_score(y_test, pred1) * 100, 2)}%"
)
print(
    f"Decision Tree accuracy: {round(accuracy_score(y_test, pred2) * 100, 2)}%, precision score: {round(precision_score(y_test, pred2) * 100, 2)}%, recall score: {round(recall_score(y_test, pred2) * 100, 2)}%"
)
print(
    f"KNeighbors accuracy: {round(accuracy_score(y_test, pred3) * 100, 2)}%, precision score: {round(precision_score(y_test, pred3) * 100, 2)}%, recall score: {round(recall_score(y_test, pred3) * 100, 2)}%"
)

SVC accuracy: 76.47%, precision score: 76.47%, recall score: 100.0%
Decision Tree accuracy: 100.0%, precision score: 100.0%, recall score: 100.0%
KNeighbors accuracy: 78.31%, precision score: 79.92%, recall score: 95.67%